/* ----------------------------------------------------- */
/* eb.rc (Edit Banner resource file)                     */
/* ----------------------------------------------------- */
/* This file is built for BBS ANSI,                      */
/* please use VEDIT(Maple-BBS editor) to edit this file. */
/* ------------------ WARNING!!! ----------------------- */
/* DO NOT use VIM to edit. it would cause BIG troubles.  */
/* ----------------------------------------------------- */
/* dust.090429: ±`¼Æ EDIT_BANNER_NUM ²¾¨ì theme.h ¤¤     */



#define EDIT_BANNERS { \
"\n--\n" \
"[32m        ¢¨¢i¢i¢©[m\n" \
"[32m      ¢¨      ¢i   [1;36m   [30mOr[mig[1min[;36;40m [1;37m¢[30m®[37m tcirc.twbbs.org[m\n" \
"[34m    [32m  ¢i [30m¡[1;37;42m´.[;32;40m  ¢i¢¨¢©  [36mAu[1mth[;36;40mor ¢[1m® %s[m\n" \
"[34m¢l¢m[32;44m  [40m¢i[34m¢©[32m    ¢i¢i[m    [1;33mFr[;33;40mom   ¢[1m® %s[m\n" \
"      [1;32m¢ª[44m¢©¢i  ¢i¢ª¢«¤@¦ê¹q¬ã [33m¢[37m® [36m·[37m¥[36m¥[37mú[36mÄ[37mH[36mÂ[37mÅ              [;34;40m¢o¢n¢m¢l¢k¢j¢j[m\n\n" \
, \
"\n--\n" \
"[32m        ¢¨¢i¢i¢©[m\n" \
"[32m      ¢¨      ¢i   [1;36m   [30mOr[mig[1min[;36;40m [1;37m¢[30m®[37m tcirc.twbbs.org[m\n" \
"[34m    [32m  ¢i [m [1m¡×.[;32;40m ¢i¢¨¢©  [36mAu[1mth[;36;40mor ¢[1m® %s[m\n" \
"[34m¢l¢m[32;44m  [40m¢i[34m¢©[32m    ¢i¢i[m    [1;33mFr[;33;40mom   ¢[1m® %s[m\n" \
"      [1;32m¢ª[44m¢©¢i  ¢i¢ª¢«¤@¦ê¹q¬ã [33m¢[37m® [36m·[37m¥[36m¥[37mú[36mÄ[37mH[36mÂ[37mÅ              [;34;40m¢o¢n¢m¢l¢k¢j¢j[m\n\n" \
, \
"\n--\n" \
"[32m        ¢¨¢i¢i¢©[m\n" \
"[32m      ¢¨      ¢i   [1;36m   [30mOr[mig[1min[;36;40m [1;37m¢[30m®[37m tcirc.twbbs.org[m\n" \
"[34m    [32m  ¢i [m ¢[1;37;40m®[m[32m  ¢i¢¨¢©  [36mAu[1mth[;36;40mor ¢[1m® %s[m\n" \
"[34m¢l¢m[32;44m  [40m¢i[34m¢©[32m    ¢i¢i[m    [1;33mFr[;33;40mom   ¢[1m® %s[m\n" \
"      [1;32m¢ª[44m¢©¢i  ¢i¢ª¢«¤@¦ê¹q¬ã [33m¢[37m® [36m·[37m¥[36m¥[37mú[36mÄ[37mH[36mÂ[37mÅ              [;34;40m¢o¢n¢m¢l¢k¢j¢j[m\n\n" \
, \
"\n--\n" \
"[32m        ¢¨¢i¢i¢©[m\n" \
"[m[32m      ¢¨      ¢i   [1;36m   [30mOr[mig[1min[;36;40m [1;37m¢[30m®[37m tcirc.twbbs.org[m\n" \
"[34m    [32m  ¢i [m [1m¡Õ\"[;32;40m ¢i¢¨¢©  [36mAu[1mth[;36;40mor ¢[1m® %s[m\n" \
"[34m¢l¢m[32;44m  [40m¢i[34m¢©[m  [32m [1;37m [;32;40m¢i¢i[m    [1;33mFr[;33;40mom   ¢[1m® %s[m\n" \
"      [1;32m¢ª[44m¢©¢i  ¢i¢ª¢«¤@¦ê¹q¬ã [33m¢[37m® [36m·[37m¥[36m¥[37mú[36mÄ[37mH[36mÂ[37mÅ              [;34;40m¢o¢n¢m¢l¢k¢j¢j[m\n\n" \
};

